@model ItripPDFTest.Models.IndexVM

@{
    ViewData["Title"] = "Home Page";
}

<embed src="https://acrobatservices.adobe.com/view-sdk-demo/PDFs/Bodea%20Brochure.pdf#page=1" type="application/pdf" width="100%" height="100%" />
<embed src="https://acrobatservices.adobe.com/view-sdk-demo/PDFs/Bodea%20Brochure.pdf#page=2" type="application/pdf" width="100%" height="100%" />
<embed src="https://acrobatservices.adobe.com/view-sdk-demo/PDFs/Bodea%20Brochure.pdf#page=3" type="application/pdf" width="100%" height="100%" />

<object data="https://acrobatservices.adobe.com/view-sdk-demo/PDFs/Bodea%20Brochure.pdf#page=2"
		type="application/pdf"
		width="100%"
		height="100%">
</object>
<p>
	Your browser does not support PDFs.
	<a href="https://acrobatservices.adobe.com/view-sdk-demo/PDFs/Bodea%20Brochure.pdf">Download the PDF</a>
	.
</p>