@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* <embed src="https://acrobatservices.adobe.com/view-sdk-demo/PDFs/Bodea%20Brochure.pdf" width="500" type="application/pdf"> *@
    <iframe src="https://acrobatservices.adobe.com/view-sdk-demo/PDFs/Bodea%20Brochure.pdf" frameborder="0" id="iframeGeneralInfo" style="height: 2000px; width: 100%; "></iframe>
</div>
