@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <embed src="https://acrobatservices.adobe.com/view-sdk-demo/PDFs/Bodea%20Brochure.pdf" width="500" height="10000" type="application/pdf">
    @* <iframe src="~/Content/Itrip/GeneralInfo.pdf?url=~/Content/Itrip/GeneralInfo.pdf&embedded=true" frameborder="0" id="iframeGeneralInfo" style="height: 1000px; width: 100%; "></iframe> *@
</div>
